#canvas {
  border: #bbb solid 5px;
  border-radius: 25px;
  position:relative;
  height:400px;
  width:400px;
  padding: 25px;
  background: url('../assets/checker.png');
}

.block {
  display: block;
}

.inline {
  display: flex;
  justify-content: space-between;
}

#mainText {
  position: absolute;
  margin:auto;
  text-align: center;
  width: 400px;
  color: white;
  font-size: 50px;
  top: 200px;
}

.radio {
  width: 15px;
}

.backgroundChoice {
  position: absolute;
  bottom: 25px;
  width: 250px;
}

#nameText {
  text-align: right;
}
