<div class="overlay">
  <div class="close" ng-click="ref.close()">✖</div>
  <div>
    <h1>Creative assets</h1>
    <hr>
    <br>
    <p>
      Thank you so much to the artists behind the incredible stock photos used on this site:
    </p>
    <br>
    <h3>
      <a href="http://bardawolf.deviantart.com/art/Wall-with-Tree-665227284">Wall with Tree</a> by <a href="http://bardawolf.deviantart.com/">BardaWolf</a>
    </h3>
    <h3>
      <a href="http://cd-stock.deviantart.com/art/Lost-Factory-CD-STOCK-682506878">Lost Factory CD-STOCK</a> by <a href="http://cd-stock.deviantart.com/">CD-STOCK</a>
    </h3>
    <h3>
      <a href="http://cd-stock.deviantart.com/art/Lost-Factory-03-CD-STOCK-682252374">Lost Factory 03 CD-STOCK</a> by <a href="http://cd-stock.deviantart.com/">CD-STOCK</a>
    </h3>
    <h3>
      <a href="http://arancia.deviantart.com/art/Factory-Interior-20-CD-STOCK-683104677">Factory Interior 20 CD-STOCK</a> by <a href="http://cd-stock.deviantart.com/">CD-STOCK</a>
    </h3>
    <h3>
      <a href="http://coppersaturday.deviantart.com/art/Foggy-Train-Tracks-II-663857792">Foggy Train Tracks II</a> by <a href="http://coppersaturday.deviantart.com/">CopperSaturday</a>
    </h3>
    <h3>
      <a href="http://the-egg-carton.deviantart.com/art/eggstockHDR0109-469005124">eggstockHDR0109</a> by <a href="http://the-egg-carton-stock.deviantart.com/">The-Egg-Carton</a>
    </h3>
    <h3>
      <a href="http://the-egg-carton.deviantart.com/art/eggstockHDR0161-478008919">eggstockHDR0161</a> by <a href="http://the-egg-carton-stock.deviantart.com/">The-Egg-Carton</a>
    </h3>
    <h3>
      <a href="http://niedec-stock.deviantart.com/art/Franklin-Ghost-Town-Trail-9-609824629">Franklin Ghost Town Trail 9</a> by <a href="http://niedec-stock.deviantart.com/">Niedec-STOCK</a>
    </h3>
    <h3>
      <a href="http://somadjinn.deviantart.com/art/Abandoned-Forest-Comfort-freebie-673242661">Abandoned Forest Comfort (freebie)</a> by <a href="http://somadjinn.deviantart.com/">somadjinn</a>
    </h3>

  </div>
</div>
