<table ng-app="UI">
  <tr>
    <td>Name:</td>
    <td><input id="logoName" type="text" value="" placeholder="of your brand"></td>
  </tr>
  <tr>
    <td>Type:</td>
    <td><select id="type" ng-model="selectedType" ng-switch="test(selectedType)" ng-options="type for type in types"></select></td>
  </tr>
  <tr>
    <td>Text:</td>
    <td><input id="logoText" type="text" ng-model="logoText" placeholder="to appear on logo"></td>
  </tr>
  <tr>
    <td>Font:</td>
    <td><select id="font" ng-model="selectedFont" ng-switch="changeFont(selectedFont)" ng-options="font for font in fonts"></select></td>
  </tr>
  <tr>
    <td>Color:</td>
    <td><input id="hexColor" type="text" placeholder="Try random sometime!"></td>
  </tr>
  <tr>
    <td></td>
    <td><button ng-click="randomColor('hexColor')">Random color</button></td>
  </tr>
  <tr>
    <td><select id="shape" ng-model="selectedShape" ng-options="shape for shape in shapes" value="{{shape}}"></select></td>
    <td><button ng-click="addShape(selectedShape)">Add Shape</button></td>
  </tr>
  <tr>
    <td><select id="deleteShape" ng-model="selectedCache" ng-options="shape for shape in shapesCache" value="{{shape}}"></select></td>
    <td><button ng-click="removeShape(selectedCache)">Delete Shape</button></td>
  </tr>
  <tr>
    <td><select id="pos" ng-model="selectedPosition" value="{{pos}}" ng-options="pos for (key, pos) in positions"></select></td>
    <td><button ng-click="positionShape(selectedPosition)">Position shape</button></td>
  </tr>
</table>
