/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@keyframes revolve {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 10, ../sass/style.scss */
body {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  color: #ddd;
  text-align: center;
}
/* line 15, ../sass/style.scss */
body * {
  box-sizing: border-box;
}
/* line 18, ../sass/style.scss */
body h1 {
  font-size: 30px;
  font-weight: bold;
}
/* line 22, ../sass/style.scss */
body h2 {
  font-size: 25px;
}
/* line 25, ../sass/style.scss */
body h3 {
  font-size: 20px;
}
/* line 28, ../sass/style.scss */
body a {
  color: #777;
}
/* line 31, ../sass/style.scss */
body button {
  border: 0;
  border-radius: 5px;
  color: #222;
  font-size: 1em;
  font-weight: bold;
  background: #777;
  margin: 5px;
  cursor: pointer;
}

/* line 43, ../sass/style.scss */
#app {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* line 50, ../sass/style.scss */
.container, #display, #ui {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

/* line 58, ../sass/style.scss */
#display {
  background-position: center;
  background-color: black;
  background-size: cover;
  height: 500px;
  width: 500px;
  box-shadow: 1px 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* line 69, ../sass/style.scss */
#ui {
  background: #222;
  height: 500px;
  width: 200px;
  font-weight: bold;
}

/* line 77, ../sass/style.scss */
.dark, .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../assets/b.png");
}

/* line 88, ../sass/style.scss */
motherflocker #mf-fan {
  position: absolute;
}
/* line 91, ../sass/style.scss */
motherflocker #mf-fan .head {
  position: absolute;
  width: 100px;
  animation: revolve 500ms linear infinite;
}
/* line 97, ../sass/style.scss */
motherflocker #mf-fan .body {
  width: 100px;
}
/* line 102, ../sass/style.scss */
motherflocker #mf-body {
  background-size: cover;
  position: absolute;
  left: 100px;
  bottom: 25px;
}
/* line 107, ../sass/style.scss */
motherflocker #mf-body .body {
  position: relative;
  height: 300px;
  width: 180px;
  z-index: 1;
}
/* line 113, ../sass/style.scss */
motherflocker #mf-body .shadow {
  position: absolute;
  left: 25%;
  bottom: 20px;
  width: 50%;
  box-shadow: 0 0 60px 1em black;
  z-index: 0;
}

/* line 125, ../sass/style.scss */
.overlay {
  z-index: 1;
  border-radius: 15px;
  padding: 20px;
  width: 500px;
  box-sizing: border-box;
}

/* line 134, ../sass/style.scss */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
