body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: futura;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: futura;
  margin-bottom: 50px;
  padding: 10px;
  background: #daaaad;
  color: white;
}

nav a {
  color: white;
}

nav ul {
  margin: 0;
  display: flex;
  list-style: none;
}

nav li {
  width: 75px;
  text-align: center;
}

#container {
  position: relative;
  display: flex;
  margin: auto;
  width: 800px;
}

#control {
  border-radius: 25px;
  height:500px;
  width:250px;
  padding: 25px;
  background: #ffafaf;
  margin-right: 50px;
}

select, button {
  width: 100px;
}

input {
  width: 94px;
}

td {
  width: 100px;
  padding-bottom: 5px;
}

.userForm {
  text-align: center;
  width: 250px;
  margin: auto;
  padding: 25px;
  padding-bottom: 50px;
  border: lightgrey 1px solid;
  border-radius: 15px;
}

.formName {
  display: flex;
  justify-content: space-around;;
  margin-bottom: 15px;
}

.userForm table {
  background: black;
  text-align: center;
  width: 250px;
  margin: auto;
}



.userForm td {
  text-align: left;
}

#hexColor, #textColor {
  background: url('../assets/input.png') repeat-y;
  background-color: black;
}

.button-row button {
  width: 52px;
}

tr {
  background: white;
}

table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

table, th, td {
    border: 1px solid transparent;
}

td {
  padding: 12px;
}

th {
  background-color: #ffafaf;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#shapeHeader {
  background: white;
}

.colorSquare {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: black;
}

.colorRow {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.lastRow {
  height: 45px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
