body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: futura;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: futura;
  margin-bottom: 50px;
  padding: 10px;
  background: green;
  color: white;
}

nav a {
  color: white;
}

nav ul {
  margin: 0;
  display: flex;
  list-style: none;
}

nav li {
  width: 75px;
  text-align: center;
}

#container {
  position: relative;
  display: flex;
  margin: auto;
  width: 800px;
}

#control {
  border-radius: 25px;
  height:400px;
  width:250px;
  padding: 25px;
  background: #ffafaf;
  margin-right: 50px;
}

select, button {
  width: 120px;
}

input {
  width: 114px;
}

td {
  padding-bottom: 5px;
}

.userForm {
  width: 300px;
  margin: auto;
}
