<!DOCTYPE html>
<div id="container" ng-app="logoer" ng-controller="UIControl">
  <form id="control">


      <!-- NAME INPUT -->
    <div class="formName">
      <td>Name:</td>
      <td><input id="logoName" type="text" value="" placeholder="of your brand"></td>
    </div>

    <table>
      <!-- TYPE INPUT -->
      <tr class="type-row">
        <th id="textHeader" ng-click="formChange(true)"><a href="">Text</a></th>
        <th id="shapeHeader" ng-click="formChange(false)"><a href="">Shape</a></th>
      </tr>
      <!-- TEXT INPUT -->
      <tr ng-show="type">
        <td>Text:</td>
        <td><input id="logoText" type="text" ng-model="logoText" placeholder="to appear on logo"></td>
      </tr>
      <!-- FONT INPUT -->
      <tr ng-show="type">
        <td>Font:</td>
        <td><select id="font"
        ng-model="selectedFont"
        ng-switch="changeFont(selectedFont)"
        ng-options="font for font in fonts"></select></td>
      </tr>
      <tr ng-show="type">
        <td>Color:</td>
        <td><input id="textColor" ng-model="color" type="text" ng-keyup="changeColor()" placeholder="Try random sometime!"></td>
      </tr>
      <tr ng-show="type" class="button-row">
        <td colspan="2">
          <button ng-model="prevColor" ng-click="previousColor()">Prev</button>
          <button ng-click="randomColor()">Random</button>
          <button ng-click="saveColor(color)">Save</button>
          <button ng-click="setTextColor(color)">Set</button>
        </td>
      </tr>
      <!-- SHAPE INPUT -->
      <tr ng-show="!type">
        <td><select id="shape" ng-model="selectedShape" ng-options="shape for shape in shapes" value="{{shape}}"></select></td>
        <td><button ng-click="addShape(selectedShape)">Add Shape</button></td>
      </tr>
      <!-- SHAPE SIZE -->
      <tr ng-show="!type">
        <td><select id="size" ng-model="selectedSize" value="{{size}}" ng-options="size for (size, int) in sizes"></select></td>
        <td><button ng-click="test(selectedSize)">Change size</button></td>
      </tr>
      <!-- SHAPE POSITION -->
      <tr ng-show="!type">
        <td><select id="pos" ng-model="selectedPosition" value="{{key}}" ng-options="pos for (pos, key) in positions"></select></td>
        <td><button ng-click="test(selectedPosition)">Position shape</button></td>
      </tr>
      <!-- SHAPE REMOVAL -->
      <tr ng-show="!type">
          <td><select id="deleteShape" ng-model="selectedCache" ng-options="shape for shape in shapesList" value="{{shape}}"></select></td>
        <td><button ng-click="removeShape(selectedCache)">Delete Shape</button></td>
      </tr>
      <!-- COLOR INPUT -->
      <tr ng-show="!type">
        <td>Color:</td>
        <td><input id="hexColor" ng-model="color" type="text" ng-keyup="changeColor()" placeholder="Try random sometime!"></td>
      </tr>
      <tr ng-show="!type" class="button-row">
        <td colspan="2">
          <button ng-model="prevColor" ng-click="previousColor()">Prev</button>
          <button ng-click="randomColor()">Random</button>
          <button ng-click="saveColor(color)">Save</button>
          <button ng-click="setColor(color)">Set</button>
        </td>
      </tr>
      <!-- COLORS ROW -->
      <tr>
        <td colspan="2" class="lastRow">
          <ul class="colorRow">
            <li class="colorSquare" ng-repeat="color in colorsCache track by $index" ng-style="{'background-color': color}" ng-click="changeColor(color)"></li>
          </ul>
        </td>
      </tr>
    </table>

    <button action="POST" >SAVE</button>
  </form>

  <div id="canvas">
    <svg id="svg-wrapper" width="400" height="400" version="1.1" xmlns="http://www.w3.org/2000/svg">
    </svg>
    <div id="mainText" ng-click="test('mainText')">{{ logoText }}</div>
  </div>
</div>
